<launch>
  ##Launches all the drivers
  <node pkg = "navigation" type = "prototype_mission_1" launch-prefix = "echo $'launching::prototype_mission_1'" />
  <arg name = "fname" default = "pm_1_test1_11-21-2020.bag" />
  <node
    pkg = "rosbag"
    name = "record"
    type = "record"
    args = "-O $(arg fname) -a"
  />
</launch>
